<!-- views/partials/footer.ejs -->
<!--content-->
<div class="content">
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Localização</h3>
                    <p>Centro Federal de Educação Tecnológica<br/> Belo Horizonte - Minas Gerais </p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Redes sociais</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/afo.fernando" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/khacio" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://br.linkedin.com/in/acacio-oliveira-955890b1" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Sobre</h3>
                    <p>Caracterização do Desempenho das Técnicas para Troca de Conteúdo na Web.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright © Acácio Oliveira 2016
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
