<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./templates/head.ejs %>
</head>

<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <% include ./templates/header.ejs %>

    <!-- Insert Body here -->
    <%- body %>

    <% include ./templates/footer.ejs %>
</div>
</body>
</html>