<!DOCTYPE html>
<html lang="pt" ng-app="myApp">
<head>
    <% include ./templates/head.ejs %>
</head>

<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue layout-boxed sidebar-mini" ng-controller="indexCtrl">
<!-- Site wrapper -->
<div class="wrapper">

    <% include ./templates/header.ejs %>

    <!-- Insert Body here -->
    <div ng-view></div>

    <% include ./templates/footer.ejs %>
</div>
</body>
</html>