<!DOCTYPE html>
<html>
<head>
    <!-- Custom Theme files -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="nodeJS Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- styles -->
    <link href="/lib/boostrap/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/jasny-bootstrap.min.css" rel="stylesheet">
    <!-- Fav and touch icons
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    -->

    <script src="/lib/jquery/jquery-2.1.1.min.js"></script>

    <!-- Need mroe Bootstrap features? Uncomment some lines below. -->
    <script src="/lib/boostrap/js/bootstrap.js"></script>
    <script src="/javascripts/jasny-bootstrap.min.js"></script>

    <!--Data table-->
    <link href="/stylesheets/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="/stylesheets/AdminLTE.min.css" rel="stylesheet">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="/stylesheets/_all-skins.min.css" rel="stylesheet">

    <!-- SlimScroll -->
    <script src="/javascripts/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/javascripts/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/javascripts/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/javascripts/demo.js"></script>
    <!-- Data table -->
    <script src="/javascripts/jquery.dataTables.min.js"></script>
    <script src="/javascripts/dataTables.bootstrap.min.js"></script>
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/"><b><icon class="glyphicon glyphicon-log-in"></icon> Hero</b>Registro</a>
        <h4> <%= feedback %> </h4>
    </div>


    <div class="register-box-body">
        <p class="login-box-msg">Registrar um novo membro</p>
        <form action="/admin/registrar" method="post">
            <div class="form-group has-feedback">
                <input id="admin_username" name="admin_username" type="text" class="form-control" placeholder="Full name">
              <!--  <span class="glyphicon glyphicon-user form-control-feedback"></span>-->
            </div>
            <div class="form-group has-feedback">
                <input id="admin_email" name="admin_email" type="email" class="form-control" placeholder="Email">
              <!--  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
            </div>
            <div class="form-group has-feedback">
                <input id="admin_password" name="admin_password" type="password" class="form-control" placeholder="Password">
                <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
            </div>
            <div class="form-group has-feedback">
                <input id="retype_password" name="retype_password" type="password" class="form-control" placeholder="Retype password">
                <!--<span class="glyphicon glyphicon-log-in form-control-feedback"></span>-->
            </div>
            <br/>
            <div class="row">

                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    <button onclick="location.href = '/';" type="button" class="btn btn-primary btn-block btn-flat">Voltar</button>
                </div><!-- /.col -->

            </div>
        </form>


    </div><!-- /.form-box -->
</div><!-- /.register-box -->


</body>
</html>
