
<% layout('layout') - %>
<!--banner-->
<div class="banner">
    <div class="container">
        <script src="/javascripts/responsiveslides.min.js"></script>
        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto: false,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="banner1">
                            <div class="banner-grids">
                                <div class="banner-text">
                                    <div class="tag">
                                        <h4><a href="#">HEROES</a></h4>
                                    </div>
                                    <div class="bnr-info">
                                        <h1>Flash Gordon is the hero of a science fiction Test</h1>
                                        <p>First published January 7, 1934, the strip was inspired by and created to
                                            compete with the already established Buck Rogers adventure strip. Also
                                            inspired by these series were comics...</p>
                                        <a href="#">Readmore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner2">
                            <div class="banner-grids2">
                                <div class="bnr2-top">
                                    <h3>Green Lantern</h3>
                                    <h4>Chief redactor</h4>
                                </div>
                                <div class="bnr2-text">
                                    <p>Harley Quinn is a fictional character, a super villain in the DC Universe. The
                                        character was introduced on September 11, 1992</p>
                                </div>
                                <div class="dot">
                                    <img src="images/dot.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner1">
                            <div class="banner-grids">
                                <div class="banner-text">
                                    <div class="tag">
                                        <h4><a href="#">HEROES</a></h4>
                                    </div>
                                    <div class="bnr-info">
                                        <h1>Flash Gordon is the hero of a science fiction Test</h1>
                                        <p>First published January 7, 1934, the strip was inspired by and created to
                                            compete with the already established Buck Rogers adventure strip. Also
                                            inspired by these series were comics...</p>
                                        <a href="#">Readmore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!----->
    </div>
</div>

<!--content-->
<div class="content">

    <div class="container">

        <!-- Conteúdo do Blog -->
        <div class="content-left">

            <!-- Post 1  -->
            <div class="sec_1">
                <div class="sec_1 grids">
                    <div class="post6">
                        <div class="post6-pic">
                            <img src="images/16.png" class="img-responsive" alt="">
                        </div>
                        <div class="post6-pic-info">
                            <div class="tag3">
                                <h4><a href="#">Text</a></h4>
                            </div>
                            <h3><a href="#">Hawkgirl is a legacy character</a></h3>
                            <p>She wields a mace and uses Nth Metal technology to fly. Carter Hall's wife Shiera Sanders
                                was the first to use the name during...</p>
                            <div class="comments cmnt3">
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                            32</a></li>
                                    <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 1245</li>
                                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Yesterday</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Fim Post 1 -->

            <!-- Post 2  -->
            <div class="sec_2">
                <div class="sec_2 grids">
                    <div class="post6">
                        <div class="post6-pic">
                            <img src="images/16.png" class="img-responsive" alt="">
                        </div>
                        <div class="post6-pic-info">
                            <div class="tag3">
                                <h4><a href="#">Text</a></h4>
                            </div>
                            <h3><a href="#">Hawkgirl is a legacy character</a></h3>
                            <p>She wields a mace and uses Nth Metal technology to fly. Carter Hall's wife Shiera Sanders
                                was the first to use the name during...</p>
                            <div class="comments cmnt3">
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                            32</a></li>
                                    <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 1245</li>
                                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Yesterday</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Fim Post 2 -->

            <!-- Post 3  -->
            <div class="sec_3">
                <div class="sec_3 grids">
                    <div class="post6">
                        <div class="post6-pic">
                            <img src="images/16.png" class="img-responsive" alt="">
                        </div>
                        <div class="post6-pic-info">
                            <div class="tag3">
                                <h4><a href="#">Text</a></h4>
                            </div>
                            <h3><a href="#">Hawkgirl is a legacy character</a></h3>
                            <p>She wields a mace and uses Nth Metal technology to fly. Carter Hall's wife Shiera Sanders
                                was the first to use the name during...</p>
                            <div class="comments cmnt3">
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                            32</a></li>
                                    <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 1245</li>
                                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Yesterday</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Fim Post 4 -->

            <!-- Post 4  -->
            <div class="sec_4">
                <div class="sec_4 grids">
                    <div class="post6">
                        <div class="post6-pic">
                            <img src="images/16.png" class="img-responsive" alt="">
                        </div>
                        <div class="post6-pic-info">
                            <div class="tag3">
                                <h4><a href="#">Text</a></h4>
                            </div>
                            <h3><a href="#">Hawkgirl is a legacy character</a></h3>
                            <p>She wields a mace and uses Nth Metal technology to fly. Carter Hall's wife Shiera Sanders
                                was the first to use the name during...</p>
                            <div class="comments cmnt3">
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                            32</a></li>
                                    <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 1245</li>
                                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Yesterday</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Fim Post 5 -->

        </div>
        <!-- Fim Conteúdo do Blog -->

        <!----->

        <!-- Barra Lateral -->
        <div class="content-right">

            <!-- Inicio Mais Lidos -->

            <section class="sky-form">
                <h4>Heroes news</h4>
                <div class="post-grid1">
                    <div class="post-pic">
                        <img src="images/6.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="post-pic-text">
                        <h5><a href="#">Gordon Flash</a></h5>
                        <p>Intoxicated by him, she adopted the Harley Quinn persona and helps in his criminal
                            pursuits</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="post-grid1">
                    <div class="post-pic">
                        <img src="images/7.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="post-pic-text">
                        <h5><a href="#">Harleen Quinzel was a criminal psychiatrist</a></h5>
                        <p>She abandoned her career and became Harley Quinn</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="post-grid1">
                    <div class="post-pic">
                        <img src="images/10.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="post-pic-text">
                        <h5><a href="#">DC Comics, Inc</a></h5>
                        <p>In the Ame-Comi Universe, Harley is very much</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>

            <!-- Fim Mais Lidos -->

            <!-- Inicio Randon Post -->
            <div class="followers-sec">
                <section class="sky-form">
                    <h4>follow heroes</h4>
                    <div class="row row1 scroll-pane">
                        <!--   <div class="col col-4"> -->
                        <div class="follow-grid">
                            <div class="flw-pic">
                                <img src="images/23.png" class="img-responsive" alt=""/>
                            </div>
                            <h3 class="folw-name">Gordon flash</h3>
                            <div class="flwr">
										 <span class="col_checkbox">
										 <input id="5" class="css-checkbox5" type="checkbox">
										 <label for="5" class="css-label5"> </label>
										 </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="follow-grid">
                            <div class="flw-pic">
                                <img src="images/17.png" class="img-responsive" alt=""/>
                            </div>
                            <h3 class="folw-name">Harley Quinn</h3>
                            <div class="flwr">
										 <span class="col_checkbox">
										 <input id="6" class="css-checkbox6" type="checkbox">
										 <label for="6" class="css-label6"> </label>
										 </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="follow-grid">
                            <div class="flw-pic">
                                <img src="images/18.png" class="img-responsive" alt=""/>
                            </div>
                            <h3 class="folw-name">The Green Lantern</h3>
                            <div class="flwr">
										 <span class="col_checkbox">
										 <input id="7" class="css-checkbox7" type="checkbox">
										 <label for="7" class="css-label7"> </label>
										 </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="follow-grid">
                            <div class="flw-pic">
                                <img src="images/19.png" class="img-responsive" alt=""/>
                            </div>
                            <h3 class="folw-name">Superman</h3>
                            <div class="flwr">
										 <span class="col_checkbox">
										 <input id="8" class="css-checkbox8" type="checkbox">
										 <label for="8" class="css-label8"> </label>
										 </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="follow-grid">
                            <div class="flw-pic">
                                <img src="images/20.png" class="img-responsive" alt=""/>
                            </div>
                            <h3 class="folw-name">Joker</h3>
                            <div class="flwr">
										 <span class="col_checkbox">
										 <input id="9" class="css-checkbox9" type="checkbox">
										 <label for="9" class="css-label9"> </label>
										 </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="follow-grid">
                            <div class="flw-pic">
                                <img src="images/21.png" class="img-responsive" alt=""/>
                            </div>
                            <h3 class="folw-name">Hawkgirl</h3>
                            <div class="flwr">
										 <span class="col_checkbox">
										 <input id="10" class="css-checkbox10" type="checkbox">
										 <label for="10" class="css-label10"> </label>
										 </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- </div> -->
                    </div>
                </section>
            </div>
            <!-- Fim Randon Post -->

            <div class="clearfix"></div>
            <!---->
            <div class="gallery">
                <h3>New pictures from game Injasties</h3>
                <div class="comments cmnt3 gm-cmnt">
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 32</a></li>
                        <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 1245</li>
                        <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Yesterday</li>
                    </ul>
                </div>
            </div>
            <!---->
            <div class="joker">

                <div class="joker-hdr">
                    <h3>Joker</h3>
                    <img src="images/jkr.png" class="img-responsive" alt=""/>
                </div>
                <div class="joker-info">
                    <h5>23 february</h5>
                    <div class="joker-cmnt">
                        <h4><img src="images/smile1.png" alt=""/>Hello Flash!</h4>
                        <h3>Joker, you so terrible today.What happened?<img src="images/smile2.png" alt=""/></h3>
                        <h4>Today I was not so good</h4>
                        <h3>With your work hard to<span>stay in such a positive...</span></h3>
                        <form>
                            <textarea placeholder="Message" required=""></textarea>
                            <button class="btn1 btn-1 btn-1b"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!---->
            <div class="download">
                <div class="dwnld-grids">
                    <div class="dwnld-pic">
                        <img src="images/dwnld.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="dwnld-pic-info">
                        <h3>New images document</h3>
                        <p>File with test info about all game images</p>
                        <a href="#">Download</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!---->


            <div class="clearfix"></div>

        </div>
        <!-- Fim Barra Lateral -->

        <div class="clearfix"></div>

    </div>
</div>


