<!DOCTYPE html>
<html ng-app="myApp" lang="pt">
<head>
    <title>hhh</title>
    <% include ./templates/head.ejs %>
</head>

<body ng-controller="noticiasCtrl">

<% include ./templates/header.ejs %>

<!-- Insert Body here -->
<div class="conteudo">

    <div class="container">

        <div ng-view></div>

        <% include ./menulateral.ejs %>

    </div>
</div>


</div><!-- /.container -->

<% include ./templates/footer.ejs %>

</body>
</html>