<!DOCTYPE html>
<html ng-app="myApp" lang="pt">
<head>
    <title>hhh</title>
    <% include ./templates/head.ejs %>
</head>

<body ng-controller="noticiaCtrl">

<% include ./templates/header.ejs %>

<!-- Insert Body here -->
<div class="conteudo">

    <div class="content">


        <div class="container">

            <!-- Conteúdo do Blog -->
            <div class="content-left">

                <!-- <div ng-include="'noticias.ejs'"></div>-->
                <div ng-view></div>

            </div>
            <!-- Fim Conteúdo do Blog -->
            <div class="content-right">

                <% include ./menulateral.ejs %>

            </div>

        </div>
    </div>


</div><!-- /.container -->

<% include ./templates/footer.ejs %>

</body>
</html>