<!DOCTYPE html>
<html ng-app="myApp" lang="pt">
<head>
    <% include ./templates/head.ejs%>
</head>

<body  ng-controller="noticiaCtrl">

<% include ./templates/header.ejs%>


<!-- Insert Body here -->
<div class="conteudo">

        <%- body %>


</div><!-- /.container -->

<% include ./templates/footer.ejs%>

</body>
</html>