<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./templates/head.ejs%>
</head>

<body>

<% include ./templates/header.ejs%>


<!-- Insert Body here -->
<div class="conteudo">

        <%- body %>


</div><!-- /.container -->

<% include ./templates/footer.ejs%>

</body>
</html>