<!-- Carousel
================================================== -->
<div ng-show="noticiasBanner.length > 0">

    <div class="banner">
        <div class="slider">

            <!-- Carousel
        ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" ng-repeat="noticia in noticiasBanner"
                        ng-class="{active: ($index === 0)}" data-slide-to="{{$index}}"></li>
                </ol>
                <div class="carousel-inner">
                    <div ng-repeat="noticia in noticiasBanner" ng-class="{item: true, active: ($index === 0)}" >
                        <img src="{{noticia.img}}" style="width:100%" class="img-responsive">
                        <div class="container">
                            <div class="carousel-caption">

                                <div class="bnr-info">
                                    <h1>{{noticia.title}}</h1>
                                    <h3>{{noticia.sub_title}}</h3>
                                    <a href='/noticia/{{noticia._id}}'>Leia mais</a>
                                    <p></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" data-target="#myCarousel" class="left carousel-control">&lsaquo;<span
                            class="glyphicon glyphicon-chevron-left"></span></a>
                <a data-slide="next" data-target="#myCarousel" class="right carousel-control">&lsaquo;<span
                            class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /.carousel -->

        </div>
        <!----->
    </div>

</div>
<!-- Carousel
================================================== -->

<div class="content-left">

    <!-- Inicio Lista de Notícias -->
    <div class="sec_1" ng-repeat="noticia in noticias">
        <div class="sec_1 grids">
            <div class="post6">
                <div class="row">
                    <div class="col-md-6">
                        <img ng-src="{{noticia.img}}"
                             class="img-responsive post6-pic-img" alt="">
                    </div>

                    <div class=" col-md-6 post6-pic-info">

                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{noticia.category}}</span>
                            </div><!-- /.info-box-content -->
                        </div>

                        <h3><a href ng-click="startEvent(noticia._id)">{{noticia.title}}</a></h3>
                        <p>{{noticia.sub_title}}</p>
                        <div class="comments cmnt3">
                            <ul>
                                <li><a href ng-click="gosteiNoticia(noticia._id)"> <span
                                                class="gostei glyphicon glyphicon-thumbs-up"
                                                aria-hidden="true"></span>{{noticia.gostei}}
                                    </a>
                                </li>
                                <li><a href ng-click="naoGosteiNoticia(noticia._id)"><span
                                                class="gostei glyphicon glyphicon-thumbs-down"
                                                aria-hidden="true"></span>{{noticia.nao_gostei}}
                                    </a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-comment"
                                                      aria-hidden="true"></span>{{noticia.comments.length}}
                                    </a>
                                </li>
                                <li><span class="glyphicon glyphicon-eye-open"
                                          aria-hidden="true"></span> {{noticia.numero_clicks}}
                                </li>
                                <li><span class="glyphicon glyphicon-time"
                                          aria-hidden="true"></span>{{noticia.date}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <br/>
        </div>
    </div>
    <!-- Fim Lista de Notícias -->


    <!-- Inicio Lista de Noticias Vazio  -->
    <div class="sec_1" ng-show="noticias.length <= 0">
        <div class="sec_1 grids">
            <div class="post6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/img-not-found.png" class="img-responsive post6-pic-img" alt="">
                    </div>

                    <div class="col-md-6 post6-pic-info post6-pic-vazio">

                        <h1>Sua busca não retornou resultados</h1>
                        <div class="bnr-info">
                            <a href="/">Limpar pesquisa</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <br/>
        </div>
    </div>
    <!-- Fim Post 1 -->

</div>
