<!-- Carousel
================================================== -->
<div ng-show="noticiasBanner.length > 0">

    <div class="banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">

                    <li>
                        <div class="banner1"
                             style="background: url({{noticiasBanner[0].img}}) no-repeat 0px 0px; ">
                            <div class="banner-grids">
                                <div class="banner-text">

                                    <div class="info-box-slide info-box bg-yellow">
                                            <span class="info-box-icon"><i
                                                        class="ion ion-ios-pricetag-outline"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">{{noticiasBanner[0].category}}</span>
                                        </div><!-- /.info-box-content -->
                                    </div>

                                    <div class="bnr-info">
                                        <h1>{{noticiasBanner[0].title}}</h1>
                                        <p>{{noticiasBanner[0].sub_title}}</p>
                                        <a href='/noticia/{{noticiasBanner[0]._id}}'>Leia mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li ng-show="noticiasBanner[1] != null">
                        <div class="banner1"
                             style="background: url({{noticiasBanner[1].img}}) no-repeat 0px 0px; ">
                            <div class="banner-grids">
                                <div class="banner-text">

                                    <div class="info-box-slide info-box bg-yellow">
                                            <span class="info-box-icon"><i
                                                        class="ion ion-ios-pricetag-outline"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">{{noticiasBanner[1].category}}</span>
                                        </div><!-- /.info-box-content -->
                                    </div>

                                    <div class="bnr-info">
                                        <h1>{{noticiasBanner[1].title}}</h1>
                                        <p>{{noticiasBanner[1].sub_title}}</p>
                                        <a href='/noticia/{{noticiasBanner[1]._id}}'>Leia mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li ng-show="noticiasBanner[2] != null">
                        <div class="banner1"
                             style="background: url({{noticiasBanner[2].img}}) no-repeat 0px 0px; ">
                            <div class="banner-grids">
                                <div class="banner-text">

                                    <div class="info-box-slide info-box bg-yellow">
                                            <span class="info-box-icon"><i
                                                        class="ion ion-ios-pricetag-outline"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">{{noticiasBanner[2].category}}</span>
                                        </div><!-- /.info-box-content -->
                                    </div>

                                    <div class="bnr-info">
                                        <h1>{{noticiasBanner[2].title}}</h1>
                                        <p>{{noticiasBanner[2].sub_title}}</p>
                                        <a href='/noticia/{{noticiasBanner[2]._id}}'>Leia mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!----->
    </div>

</div>
<!-- Carousel
================================================== -->

<div class="content-left">

    <!-- Inicio Lista de Notícias -->
    <div class="sec_1" ng-repeat="noticia in noticias">
        <div class="sec_1 grids">
            <div class="post6">
                <div class="row">
                    <div class="col-md-6">
                        <img ng-src="{{noticia.img}}"
                             class="img-responsive post6-pic-img" alt="">
                    </div>

                    <div class=" col-md-6 post6-pic-info">

                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{noticia.category}}</span>
                            </div><!-- /.info-box-content -->
                        </div>

                        <h3><a href="/noticia/{{noticia._id}}">{{noticia.title}}</a></h3>
                        <p>{{noticia.sub_title}}</p>
                        <div class="comments cmnt3">
                            <ul>
                                <li><a href ng-click="gosteiNoticia(noticia._id)"> <span
                                                class="gostei glyphicon glyphicon-thumbs-up"
                                                aria-hidden="true"></span>{{noticia.gostei}}
                                    </a>
                                </li>
                                <li><a href ng-click="naoGosteiNoticia(noticia._id)"><span
                                                class="gostei glyphicon glyphicon-thumbs-down"
                                                aria-hidden="true"></span>{{noticia.nao_gostei}}
                                    </a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-comment"
                                                      aria-hidden="true"></span>{{noticia.comments.length}}
                                    </a>
                                </li>
                                <li><span class="glyphicon glyphicon-eye-open"
                                          aria-hidden="true"></span> {{noticia.numero_clicks}}
                                </li>
                                <li><span class="glyphicon glyphicon-time"
                                          aria-hidden="true"></span>{{noticia.date}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <br/>
        </div>
    </div>
    <!-- Fim Lista de Notícias -->


    <!-- Inicio Lista de Noticias Vazio  -->
    <div class="sec_1" ng-show="noticias.length <= 0">
        <div class="sec_1 grids">
            <div class="post6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/img-not-found.png" class="img-responsive post6-pic-img" alt="">
                    </div>

                    <div class="col-md-6 post6-pic-info post6-pic-vazio">

                        <h1>Sua busca não retornou resultados</h1>
                        <div class="bnr-info">
                            <a href="/">Limpar pesquisa</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <br/>
        </div>
    </div>
    <!-- Fim Post 1 -->

</div>


<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
    });

</script>